{% extends 'base.html' %}

{% block content %}
    
    {% for question  in question_list %}
      
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ question.author.profile.image.url }}">
            <a class="mr-2" href="#">{{ question.author }}</a>
            <small class="text-muted">{{ question.date_posted|date:"F d, f A" }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ question }}</a></h2>
          <p class="article-content">{{ question.content }}</p>
          <form action="reply/{{ question.id }}" method="POST"> {% csrf_token %}
            <input type="text" name='reply'">
            <input type="submit" value="reply">
          </form>
        </div>
      </article>
    {% endfor %}
         

{% endblock content %}