{% extends 'base.html' %}

{% block content %}
    
    {% for question  in page.object_list %}
      
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ question.author.profile.image.url }}">
            <a class="mr-2" href="#">{{ question.author }}</a>
            <small class="text-muted">{{ question.date_posted|date:"F d, f A" }}</small>
          </div>
          <p class="article-content">{{ question.content }}</p>
          
         
         {% if question.question_image %}
         <figure class="figure">
          <img src="{{ question.question_image.url }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        </figure>  
         {% endif %}
           
            
                  
            
          <form action="reply/{{ question.id }}" method="POST"> {% csrf_token %}
            <input type="text" name='reply'">
            <input type="submit" value="reply">
          </form>
        </div>
      </article>
    {% endfor %}
   
    {% if is_paginated %}
      
      {% if page.has_previous %}
        <a class="btn btn-outline-info mb-4" href="{% url 'blog-home' 1 %}">First</a>
        <a class="btn btn-outline-info mb-4" href="{% url 'blog-home' page.previous_page_number %}">Previous</a>
      {% endif %}
        {% for num in page.paginator.page_range %}
        
        {% if page.number == num %}
          <a class="btn btn-info mb-4" href="{% url 'blog-home' num %}">{{ num }}</a>
        {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="{% url 'blog-home' num %}">{{ num }}</a>
        {% endif %}
          
        {% endfor %}

        {% if page.has_next %}
        <a class="btn btn-outline-info mb-4" href="{% url 'blog-home' page.next_page_number %}">Next</a>
        <a class="btn btn-outline-info mb-4" href="{% url 'blog-home' page.paginator.num_pages %}">Last</a>
      {% endif %}
    {% endif %}
      

{% endblock content %}